body {
    padding-top: 10px;
}

/* Code */

pre code {
    background-color: inherit;
    color: inherit;
    padding: 0;
}

/* Result */

#output {
    border                : 1px solid #ccc;
    padding               : 4px;
    overflow              : auto;
}

#output > * {
    padding-left: 4px;
}

/* TODO status*/
span.task-status {
    padding : 0 0.2em;
    margin-right : 10px;
    color : white;
}

span.task-status.todo {
    color: white;
    background-color: rgb(39, 149, 182);
}

span.task-status.done {
    color: white;
    background-color: rgb(81, 143, 31);
}

/* Section Number */
.section-number {
    padding-right : 10px;
    font-weight   : bold;
    color         : rgb(0, 90, 190);
    font-style    : italic;
}

.org-subscript-child {
    font-size : 85%;
}
